*
{
    padding: 0;
    margin: 0;
}

.back{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../image/nature.jpg);
    background-size: cover;
}
#design{
    text-align: center;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 60px;
    color: rgb(10, 241, 10);

}
#ninja{
    margin-top: 100px;
    margin-left: 500px;
    text-shadow: green 4px 4px 8px, green -4px -4px 8px;
    
}
#bike{
    color: rgb(14, 55, 187);
    text-shadow: #9aac9a 2px 2px 4px, #948c8c -2px -2px 4px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 10px;
}


#btnlanding{
    margin-left: 600px;
    margin-top: 40px;
    padding: 5px 60px;
    box-shadow: #2c2e2c 4px 4px 8px, #c3dbc5 -4px -4px 8px; 
}
#motor{
    margin-left: 50px;
    margin-top: 5px;
    margin-right: 50px;
    box-shadow: #2c2e2c 4px 4px 8px, #00aaff -4px -4px 8px;
} 

.bground{
    background-image: url(../image/nature.jpg);
    background-size: cover;
}
#containerBg{
    background-image: url(../image/background.png) ;
    width: 750px;
    height: 500px;
    margin-left: 350px;
    margin-top: 100px;
}
#colors{
    width: 150px;
    height: 30px;
}

#container1{
  margin-left: 380px;
  margin-top: -55px;
}

#Button{
    margin-top: 10px;
}

#gene{
    margin-left: 50px;
    margin-top: 10px;
}

.card{
    background: #262626;
    box-shadow: #2c2e2c  5px 5px 10px, #eaeeea -5px -5px 10px;
}
#generate{
    background-color: #0077b3;
    border-radius: 20px;
}

#show{
    background-color: #4dfc4d;
}
#reset{
    background-color: #2a2b27;
    margin-left: 5px;
    color: white;
}

#option{
    width: 150px;
    height: 30px;
    text-align: center;
}
#specific{
    margin-top: -15px;
}